/*1. GENERELLE INDSTILLINGER*/

body {
    margin: 0;
    background-color: #CDC0C5;
    color: #707070;


}

img {
    width: 100%;
}

p {
    font-family: sans-serif;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    color: #555684;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 10px;
    font-size: 30px;
    ;

}

h2 {
    color: #555684;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 5px;
    font-size: 30px;
    ;
}

h3 {
    color: #555684;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    font-size: 17px;
    ;
}

a {
    text-decoration: none;
    color: #707070;
    font-family: 'Source Code Pro', monospace;
}

a:hover {
    color: #CDC0C5;
    font-family: 'Source Code Pro', monospace;
}

/*2. MENU INDSTILLINGER*/

nav {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100vw;
    align-content: stretch;
    padding-top: 10px;
    padding-bottom: 10px;

}

.myname {
    width: 60%;
    color: #555684;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    letter-spacing: 5px;
}

.myname a {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    letter-spacing: 5px;
    color: #555684;
}

.menupunkter {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.menupunkt {
    padding: 10px;
}



/*3. SPLASH INDSTILLINGER*/

#splash {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;


}


#animation1 {
    position: absolute;
    top: 130px;
    width: 100%;
    height: 100%;
    font-size: 6vw;
    text-align: center;
    font-family: 'Source Code Pro', monospace;



}

#animation2 {
    position: absolute;
    width: 50px;
    top: 700px;
    left: 47vw;



}

/*4. PORTFOLIO INDSTILLINGER*/

#my_work {
    width: 100%;
    padding-top: 30px;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my_work_overskrift {
    padding-left: 10px;
}

.opgave1 {
    flex-basis: 400px;
    height: 270px;
    flex-basis: 20;
    border: 1px solid white;
    margin-bottom: 50px;
    background-image: url(images/stilartsite_cover.png);
    background-size: cover;
}

.opgave2 {
    flex-basis: 400px;
    height: 270px;
    flex-basis: 20;
    border: 1px solid white;
    margin-bottom: 50px;
    background-image: url(images/fckfc_cover.png);
    background-size: cover;
}

.opgave3 {
    flex-basis: 400px;
    height: 270px;
    flex-basis: 20;
    border: 1px solid white;
    margin-bottom: 50px;
    background-image: url(images/kealife_cover.png);
    background-size: cover;
}

.opgave4 {
    flex-basis: 400px;
    height: 270px;
    flex-basis: 20;
    border: 1px solid white;
    margin-bottom: 50px;
}

.opgave5 {
    flex-basis: 400px;
    height: 270px;
    flex-basis: 20;
    border: 1px solid white;
    margin-bottom: 50px;
}

.opgave6 {
    flex-basis: 400px;
    height: 270px;
    flex-basis: 20;
    border: 1px solid white;
    margin-bottom: 50px;
}

/*5. OM MIG*/

#om_mig {
    padding-top: 30px;
    text-align: center;
    margin-top: 60px;

}

.sectionwrapper1 {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/omg_baggrund.png);
    background-size: cover;
    justify-content: space-around;
    padding-bottom: 200px;



}

.overskrift {
    width: 100%;
}

.mig_img {
    flex-basis: 300px;


}

.mig_txt {
    text-align: left;
    flex-basis: 900px;
    padding: 20px;
    padding-right: 20px;

}

/*6. CV SECTION*/

.sectionwrapper2 {
    margin: 0;
    margin-top: 100px;
    ;
    display: flex;
    flex-wrap: wrap;
    background-color: #CCCCCC;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;

}



.cv_txt {
    width: 100%;
    text-align: center;

}

.knap {
    width: 100px;
    padding: 10px;
    background-color: #555684;
    text-align: center;
    border-radius: 100px;
    color: white;


}

/*7.FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
    padding-top: 50px;
    background-color: #555684;
}

.sectionwrapper3 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
}

.logo1 {
    width: 15px;
}

.logo {
    width: 30px;
}

.footer_txt {
    width: 100%;
    text-align: center;
    color: white;
}

/*8. KLASSER*/

.hide {
    display: none;
}


/*9. INDSTILLINGER FULD SKÆRM*/

@media only screen and (min-width: 1210px) {

    .hide {
        display: block;
    }

    #animation1 {
        position: absolute;
        top: 300px;
        width: 100%;
        height: 100%;
        font-size: 6vw;
        text-align: center;
        font-family: 'Source Code Pro', monospace;

    }

    /*10. ANIMATIONER*/

    #animation2 {
        animation-name: bounce_arrow_kf;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-direction: alternate;
    }

    @keyframes bounce_arrow_kf {
        0% {
            top: 47vw;

        }

        100% {
            top: 48vw;

        }
    }
