/*1. GENERELLE INDSTILLINGER*/



body {
    margin: 0;
    background-color: #CDC0C5;
    color: #707070;
    cursor: pointer;


}

img {
    width: 100%;
    height: 100%;
}

p {
    font-family: sans-serif;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    color: #555684;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 10px;
    font-size: 30px;
    ;

}

h2 {
    color: #555684;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 5px;
    font-size: 30px;
    ;
}

h3 {
    color: #555684;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 2px;
    font-size: 17px;
    ;
}

a {
    text-decoration: none;
    color: #707070;
    font-family: 'Source Code Pro', monospace;

}

a:hover {
    color: #CDC0C5;
    font-family: 'Source Code Pro', monospace;
}

/*2. MENU INDSTILLINGER*/

nav {
    position: fixed;
    display: flex;
    background-color: white;
    width: 100vw;
    align-content: stretch;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 5;

}

.myname {
    width: 60%;
    color: #555684;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    letter-spacing: 5px;
}

.myname a {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    letter-spacing: 5px;
    color: #555684;
}

.menupunkter {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.menupunkt {
    padding: 10px;
}



/*3. SPLASH INDSTILLINGER*/

#splash {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;


}


#animation1 {
    position: absolute;
    top: 130px;
    width: 100%;
    height: 100%;
    font-size: 6vw;
    color: #555684;
    text-align: center;
    font-family: 'Source Code Pro', monospace;



}

#animation2 {
    position: absolute;
    width: 50px;
    top: 700px;
    left: 47vw;



}

/*4. PORTFOLIO INDSTILLINGER*/

#my_work {
    width: 100%;
    padding-top: 30px;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sectionwrapper a {
    width: 400px;
    filter: opacity(40%);
    height: 270px;

}

.sectionwrapper a:hover {
    width: 400px;
    filter: opacity(100%);
    height: 270px;
}

.my_work_overskrift {
    padding-left: 10px;
}

.opgave1 {
    flex-basis: 400px;
    height: 270px;
    border: 1px solid white;
    margin-bottom: 50px;
    background-color: #F3EBEE;

}

.opgave2 {
    flex-basis: 400px;
    height: 270px;
    border: 1px solid white;
    margin-bottom: 50px;
    background-color: #F3EBEE;


}

.opgave3 {
    flex-basis: 400px;
    height: 270px;
    border: 1px solid white;
    margin-bottom: 50px;

}

.opgave4 {
    flex-basis: 400px;
    height: 270px;
    border: 1px solid white;
    margin-bottom: 50px;
}

.opgave5 {
    flex-basis: 400px;
    height: 270px;
    border: 1px solid white;
    margin-bottom: 50px;

}

.opgave6 {
    flex-basis: 400px;
    height: 270px;
    border: 1px solid white;
    margin-bottom: 50px;
    background-image: url(images/nextproject.png);
    background-size: cover;
}

/*5. OM MIG*/

#om_mig {
    padding-top: 30px;
    text-align: center;
    margin-top: 60px;

}

.sectionwrapper1 {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/omg_baggrund.png);
    background-size: cover;
    justify-content: space-around;
    padding-bottom: 200px;



}

.overskrift {
    width: 100%;
}

.mig_img {
    flex-basis: 300px;


}

.mig_txt {
    text-align: left;
    flex-basis: 900px;
    padding: 20px;
    padding-right: 20px;

}

/*6. CV SECTION*/

.sectionwrapper2 {
    margin: 0;
    margin-top: 100px;
    ;
    display: flex;
    flex-wrap: wrap;
    background-color: #CCCCCC;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;

}



.cv_txt {
    width: 100%;
    text-align: center;

}

.knap {
    width: 150px;
    height: 50px;
    background-color: #555684;
    padding-top: 0.5px;
    text-align: center;
    border-radius: 20px;
    color: white;


}

.knap a {
    color: white;
}

.knap:hover {
    background-color: #46476C;
}

/*7.FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
    padding-top: 50px;
    background-color: #555684;
}

.sectionwrapper3 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-around;
}



.logo {
    width: 45px;
    height: 45px;

}

.footer_txt {
    width: 100%;
    text-align: center;
    color: white;
}

/*8. KLASSER*/

.hide {
    display: none;
}


/*!!! SEX OG SAMFUND SIDE !!!*/

/*9. OVERSKRIFT */

#splash1 {
    width: 100%;


}

.sectionwrapper_ss {
    padding-top: 100px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F8F8F8;
    height: 900px;


}

.txt {
    width: 600px;
    padding-left: 5px;
    padding-right: 5px;


}

.opg {
    width: 600px;

}

embed {
    width: 400px;
    height: 400px;
}

/*!!! STILARTSITE !!!*/

.sectionwrapper_stilart {
    padding-top: 100px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.sectionwrapper_stilart .content {
    width: 100%;
    justify-content: space-around;
    background-color: #F8F8F8;
    height: 100%;


}

.sectionwrapper_stilart .txt {
    padding-left: 5px;
    padding-right: 5px;


}

.sectionwrapper_stilart .opg {
    width: 100%;

}

.sectionwrapper_stilart embed {
    width: 400px;
    height: 600px;
    margin: 10px;
}


/*!!! KEA LIFE !!!*/

.sectionwrapper_kealife {
    padding-top: 100px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.sectionwrapper_kealife .content {
    width: 100%;
    height: 1500px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F8F8F8;


}

.txt {
    width: 600px;
    padding-left: 5px;
    padding-right: 5px;


}

.opg {
    width: 600px;

}

iframe {
    border: 0;
}



/*. INDSTILLINGER FULD SKÆRM*/

@media only screen and (min-width: 1250px) {

    .hide {
        display: block;
    }

    #animation1 {
        position: absolute;
        top: 300px;
        width: 100%;
        height: 100%;
        font-size: 6vw;
        text-align: center;
        font-family: 'Source Code Pro', monospace;

    }

    embed {
        width: 600px;
    }

    .content {
        height: 500px;
    }

    .sectionwrapper_stilart embed {
        width: 1200px;

    }

    .sectionwrapper_kealife .content {
        width: 100%;
        height: 800px;

    }

}

/*. ANIMATIONER*/

#animation2 {
    animation-name: bounce_arrow_kf;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes bounce_arrow_kf {
    0% {
        top: 47vw;

    }

    100% {
        top: 48vw;

    }
}
